.container {
    position: absolute;
    width: 100%;
    .row {
        display: flex;
        justify-content: flex-end;
        margin-right: 10%;
        .col-12 {
            font-size: 50px;
            color: white;
            min-width: 15%;
        }
    }
}
