.container {
    position: absolute;
    width: 100%;
    .row {
        display: flex;
        justify-content: flex-end;
        margin-right: 10%;
        .col-12 {
            font-size: 50px;
            color: white;
            min-width: 28%;
            font-family: "Helvetica";
            h4 {
              margin-bottom: 0;
            }
            :nth-child(2) {
              margin-top: 0;
            }
        }
    }
}
